﻿@model Model.Product

@{
    ViewBag.Title = "Nuevo Product";
}


<ul class="page-breadcrumb breadcrumb">
	<li>
		@Html.ActionLink("Home", "Index", "Home")
		<i class="fa fa-circle"></i>
	</li>
	
	<li>
		@Html.ActionLink("Products", "Index")
		<i class="fa fa-circle"></i>
	</li>
	
	<li>
		<span>Nuevo Product</span>
	</li>
</ul>

<div class="page-content-inner">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title tabbable-line">
					<div class="caption">
						<span class="caption-subject font-green sbold uppercase">Nuevo Product</span>
					</div>
				</div>

				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									@using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "form-horizontal" })) 
									{
										@Html.AntiForgeryToken()
										@Html.ValidationSummary(true, "", new { @class = "text-danger" })
										<div class="form-group">
											@Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-3" })
											<div class="col-md-6">
												@Html.DropDownList("CategoryId", null, String.Empty, htmlAttributes: new { @class = "form-control select2me" })
												@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
											</div>
										</div>

										<div class="form-group">
											@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
											<div class="col-md-6">
												@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
												@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
											</div>
										</div>

										<div class="form-group">
											@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-3" })
											<div class="col-md-6">
												@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Price" } })
												@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
											</div>
										</div>

										<div class="form-group">
											@Html.LabelFor(model => model.IsDeleted, htmlAttributes: new { @class = "control-label col-md-3" })
											<div class="col-md-6">
												<div class="mt-checkbox-list" style="margin-top: -7px;">
													<label class="mt-checkbox mt-checkbox-outline">
        												@Html.EditorFor(model => model.IsDeleted)
        												@Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
													</label>
												</div>
											</div>
										</div>

										<div class="form-group">
											@Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-3" })
											<div class="col-md-6">
												<div class="input-group input-medium date date-picker">
    												@Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", placeholder = "DD/MM/YYYY" } })
    												@Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
													<span class="input-group-btn">
														<button class="btn default" type="button">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
											</div>
										</div>

										<div class="form-group">
											@Html.LabelFor(model => model.UpdatedDate, htmlAttributes: new { @class = "control-label col-md-3" })
											<div class="col-md-6">
												<div class="input-group input-medium date date-picker">
    												@Html.EditorFor(model => model.UpdatedDate, new { htmlAttributes = new { @class = "form-control", placeholder = "DD/MM/YYYY" } })
    												@Html.ValidationMessageFor(model => model.UpdatedDate, "", new { @class = "text-danger" })
													<span class="input-group-btn">
														<button class="btn default" type="button">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-12" style="text-align: right;">
												@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
												<input type="submit" value="Guardar" class="btn btn-success" />
											</div>
										</div>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

