﻿@model Model.Product

@{
    ViewBag.Title = "Details";
}


<ul class="page-breadcrumb breadcrumb">
	<li>
		@Html.ActionLink("Home", "Index", "Home")
		<i class="fa fa-circle"></i>
	</li>
	
	<li>
		@Html.ActionLink("Products", "Index")
		<i class="fa fa-circle"></i>
	</li>
	
	<li>
		<span>Detalle - Product</span>
	</li>
</ul>

<div class="page-content-inner">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title tabbable-line">
					<div class="caption">
						<span class="caption-subject font-green sbold uppercase">Detalle - Product</span>
					</div>
				</div>

				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12">
							<p>
								<span class="bold">@Html.DisplayNameFor(model => model.Category.Name):</span> <span class="text-muted">@Html.DisplayFor(model => model.Category.Name)</span>
							</p>
							<p>
								<span class="bold">@Html.DisplayNameFor(model => model.Name):</span> <span class="text-muted">@Html.DisplayFor(model => model.Name)</span>
							</p>
							<p>
								<span class="bold">@Html.DisplayNameFor(model => model.Price):</span> <span class="text-muted">@Html.DisplayFor(model => model.Price)</span>
							</p>
							<p>
								<span class="bold">@Html.DisplayNameFor(model => model.IsDeleted):</span> <span class="text-muted">@Html.DisplayFor(model => model.IsDeleted)</span>
							</p>
							<p>
								<span class="bold">@Html.DisplayNameFor(model => model.CreatedDate):</span> <span class="text-muted">@Html.DisplayFor(model => model.CreatedDate)</span>
							</p>
							<p>
								<span class="bold">@Html.DisplayNameFor(model => model.UpdatedDate):</span> <span class="text-muted">@Html.DisplayFor(model => model.UpdatedDate)</span>
							</p>
							<hr />

							<p>
								@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default"})
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

