﻿@model IEnumerable<Model.Product>

@{
    ViewBag.Title = "Products";
}


<ul class="page-breadcrumb breadcrumb">
	<li>
		@Html.ActionLink("Home", "Index", "Home")
		<i class="fa fa-circle"></i>
	</li>
			
	<li>
		<span>Products</span>
	</li>
</ul>

<div class="page-content-inner">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light">
				<div class="portlet-title tabbable-line">
					<div class="caption">
						<span class="caption-subject font-green sbold uppercase">Products</span>
                        <p>@TempData["Message"].ToString()</p>
					</div>

					<div class="actions">
						<div class="col-md-2">
							<a href="@Url.Action("Create")" class="btn btn-sm btn-primary uppercase">
								Nuevo <span class="fa fa-plus"></span>
							</a>
						</div>
					</div>
				</div>

				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.Category.Name)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Name)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Price)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.IsDeleted)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.CreatedDate)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.UpdatedDate)
										</th>
										<th width="25%"></th>
									</tr>
								</thead>

								<tbody>
									@foreach (var item in Model) {
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.Category.Name)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Name)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Price)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.IsDeleted)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.CreatedDate)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.UpdatedDate)
											</td>
											<td style="text-align: center;">
												<a href="@Url.Action("Edit", null, new { id = item.Id })" class="btn btn-sm blue">
													Editar <span class="fa fa-edit"></span>
												</a>

												<a href="@Url.Action("Details", null, new { id = item.Id })" class="btn btn-sm default">
													Ver	<span class="fa fa-eye"></span>
												</a>

												<a href="@Url.Action("Delete", null, new { id = item.Id })" class="btn btn-sm red" data-confirm="modal" data-confirm-title="Cuidado" data-confirm-message="Estas seguro?" data-btn-confirm-class="red">
													Eliminar <span class="fa fa-trash"></span>
												</a>
											</td>
										</tr>
									}
																				
								</tbody>
							</table>

							@if (!Model.Any()) {
								<p class="text-muted text-center">No hay elementos</p>
							}
						</div>
					</div>
				</div>
			</div>					
		</div>			
	</div>
</div>

@if (ViewBag.ToastrMessage != null)
{
    @section scripts{
        <script>
            jQuery(document).ready(function () {
                App.showToastr(`@ViewBag.ToastrMessage`, `@(ViewBag.ToastrType != null ? ViewBag.ToastrType.ToString() : "success")`)
            });
        </script>
    }
}

