﻿<div class="page-wrapper-row">
    <div class="page-wrapper-top">
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="@Url.Action("Index", "Home")">
                            @*<img src="~/Content/custom/img/logoChicoNuevo.png" alt="logo" class="logo-default">*@
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            @*@Html.Partial("_HeaderUser")*@
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            <div class="page-header-menu">
                <div class="container" id="menu">
                    <div class="hor-menu  ">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                            <li>@Html.ActionLink("Categorías", "Index", "Categories")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
    </div>
</div>

